@import "./reset";
@import "./fonts";

.section1 {
  position: relative;
  display: flex;
  width: 100%;
  // max-width: 1600px;
  align-items: center;
  justify-content: center;
  background-color: #000;
  overflow: hidden;
  margin: 0 auto;

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  &__form {
    width: 50%;
    min-height: 750px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1000px) {
      max-width: unset;
      width: 100%;
      min-height: unset;
      height: 100%;
      padding: 70px 0 0;
    }
    
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    font-family: "MyriadPro-Regular";
    text-align: center;
    letter-spacing: 7.43px;
    color: #fefefe;
    font-size: 12.38px;
    margin-bottom: 16px;
  }

  &__subTitle {
    text-align: center;
    letter-spacing: 0.82px;
    color: #ffffff;
    font-size: 32.98px;
    max-width: 540px;
    margin-bottom: 42px;
    line-height: 1.3;

    @media (max-width: 1000px) {
      font-size: 25px;
      max-width: 90%
    }
  }

  &__formWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 1000px) {
      // display: none;
    }

    input {
      box-sizing: border-box;
      // max-width: 332px;
      height: 47px;
      background: #00000000 0% 0% no-repeat padding-box;
      border: 3px solid rgba(255, 255, 255, 0.5); 
      border-radius: 8px;
      padding: 0 16px;
      color: #fff;

      @media (max-width: 1000px) {
        border: 2px solid rgba(255, 255, 255, 0.5); 
      }
    }
    
    input::placeholder {
      text-align: left;
      letter-spacing: 0px;
      color: #ffffff;
    }
    

    &__checkbox {
      display: flex;
      max-width: 373px;
      width: 100%;

      @media (max-width: 1000px) {
        max-width: 332px;
      }

      label {
        margin: 2px 0 0 6px;
        text-align: left;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1.2px;

        @media (max-width: 1000px) {
          font-size: 10px;
        }
      }
    }

    #newsletter {
      position: relative;
      max-width: 25px;
      max-height: 25px;
      min-width: 25px;
      min-height: 25px;
      margin-left: 0;
      border: 3px solid #ffffff;
      padding: 0;
      appearance: none;
      -webkit-appearance: none;
      cursor: pointer;
      background-color: #000;
      opacity: 0.5;
      border-radius: 0;

      &:checked::before {
        content: "\2713"; /* Caractere Unicode para o "tick" ✔ */
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
      }

      @media (max-width: 1000px) {
        border: 2px solid rgba(255, 255, 255, 0.5); 
      }
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 40px;

    @media (max-width: 1000px) {
      // display: none;
    }

    button {
      font-family: "ITCAvantGardeStd-Demi";
      width: 169px;
      height: 44px;
      border: 1px solid #FFFFFF;
      border-radius: 5px;
      opacity: 1;
      text-align: center;
      letter-spacing: 0.67px;
      color: #FEFEFE;
      background: transparent;
    }
  }

  &__copyright {
    max-width: 501px;
    text-align: center;
    letter-spacing: 0;
    color: #fff;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.2px;


    @media (max-width: 1000px) {
      max-width: 350px;
      line-height: 15px;
      font-size: 9px;
      padding-bottom: 20px;  
    }
  }

  &__timer {
    position: relative;
    height: 100%;
    width: 50%;
    min-height: 750px;
    background-size: cover;
    background-position: center;
    background-image: url(https://image.mail.yslbeauty.com.br/lib/fe9612737565077872/m/1/4725a1fd-bf76-4dee-99bc-71fe9c53a8a0.png);

    @media (max-width: 1000px) {
      width: 100%;
      min-height: 600px;
    }

    .timer-desktop {
      display: block;
      max-width: 100%;
      min-width: 615px;

      @media (max-width: 1000px) {
        display: none;
        min-width: unset;
        max-width: unset;
      }
      
    }

    .timer-mobile {
      @media (max-width: 1000px) {
        display: block !important;
        max-width: 100%;
      }
    }

    .countdown-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: transparent;
      padding: 20px;
      text-align: center;
      font-size: 116px;
      letter-spacing: 0px;
      color: #FFFFFF;
      text-shadow: 1px 7px 59px #0000001A;
      opacity: 1;

      @media (max-width: 1000px) {
        font-size: 60px;
      }
    }
  }
}

